canvas {
    top: 100px;
    width: 100%;
    z-index: -10;
    pointer-events: none;
    background-position: 50% 50%;
}

#particles-js {
    z-index: -1;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    pointer-events: none;
    top: 0px;
}