.container {
  padding: 10px;
  background-color: #303030;
  border: #ffffff 1px solid;
  text-align: center;
  border-radius: 6px;
  margin-left: 22.5%;
  margin-right: 22.5%;
  box-sizing: border-box;
  display: inline-block;
  width: 55%;
  box-shadow: 0 0 8px #ffffff;
  z-index: 10;
  position: relative;
}

.sections {
  border-bottom: #333333 1px solid;
  border-top: #333333 1px solid;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.1s ease-in-out;
}

.sections:hover {
  background-color: #323232;
  transition: 0.1s ease-in-out;
}